*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
.products{
  color: green;
}

.mainpage{
display: flex;
justify-content: center;

width: 100%;
}

.PRODUCTMAINPAFGE{
width: 60%;


}
.CARTPAGE{
  width: 40%;
}
.PRODUCTMAINPAFGE h1{
  text-align: center;
}
